extends layout
block append js
	script
		if (typeof jQuery!=='undefined') {
			$(document).ready( function() {
				alert('jquery is ready');
			} );
		}

		if (typeof addEvent!=='undefined') {
			window.addEvent('domready', function(){
				alert('mootools is ready');
			});
		}
block append css
	style(type="text/css")
		p.prompt {color:#646464;}
block content
	div.container
		h1= title
		div.well
			p Hello there
