extends layout
block extra_js
	script
		$(document).ready( function() {
			$('#d1').datepicker();
		} );

		window.addEvent('domready', function(){
			alert('mootools is reay');
		});
block content
	div.container
		h1= title
		p Please select a date
		input#d1(type='text')
