extends layout
block append js
	script
		$(document).ready( function() {
			$('#d1').datepicker();
		} );

		window.addEvent('domready', function(){
			alert('mootools is reay');
		});
block append css
	style(type="text/css")
		p.prompt {color:#646464;}
block content
	div.container
		h1= title
		p.prompt Please select a date
		input#d1(type='text')
